body {
  font-family: Nunito, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.welkam {
  text-align: center;
  width: 400px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.datadiri {
  width: 400px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.data h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.social-login button {
  flex: 1;
  margin: 0 5px;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google {
  background-color: #f44336;
  color: white;
}
.apple {
  background-color: black;
  color: white;
}
.twitter {
  background-color: #1da1f2;
  color: white;
}

a {
  text-decoration: none;
  color: #ff6600;
}
