.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .overlap-wrapper {
    background-color: #ffffff;
    width: 1440px;
    height: 840px;
  }
  
  .frame .overlap {
    top: 27px;
    position: relative;
    height: 786px;
  }
  
  .frame .section {
    position: absolute;
    width: 1440px;
    height: 786px;
    top: 0;
    left: 0;
  }
  
  .frame .overlap-group {
    position: relative;
    height: 786px;
  }
  
  .frame .div {
    width: 1440px;
    align-items: center;
    gap: 64px;
    padding: 80px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  
  .frame .section-text {
    width: 1280px;
    align-items: flex-start;
    gap: 48px;
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .frame .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .caption {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Nunito-Bold", Helvetica;
    font-weight: 700;
    color: var(--primary-90);
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.00px;
    line-height: 20px;
  }
  
  .frame .secondary-headline {
    position: relative;
    align-self: stretch;
    font-family: "Nunito-Bold", Helvetica;
    font-weight: 700;
    color: var(--coolgray-90);
    font-size: 42px;
    text-align: center;
    letter-spacing: 0;
    line-height: 46.2px;
  }
  
  .frame .div-2 {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
  }
  
  .frame .content-box {
    align-items: center;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-color: var(--defaultwhite);
    border-radius: 14px;
    border: 1px solid;
    border-color: var(--coolgray-20);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .frame .placeholder-picture {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 220px;
    background-color: #3e234b; /* Warna latar belakang tetap */
    border-radius: 14px 14px 0px 0px;
    display: flex; /* Untuk menempatkan gambar di tengah */
    justify-content: center; /* Horisontal tengah */
    align-items: center; /* Vertikal tengah */
}

    .frame .placeholder-picture .inner-image {
    max-width: 100%; /* Batasi lebar gambar agar tidak stretched */
    max-height: 100%; /* Batasi tinggi gambar agar proporsional */
    object-fit: contain; /* Pastikan gambar tidak terdistorsi */
}
  
  .frame .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 24px 16px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .title-category {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -72.00px;
  }
  
  .frame .title {
    position: relative;
    width: 348px;
    margin-top: -1.00px;
    font-family: "Nunito-Bold", Helvetica;
    font-weight: 700;
    color: var(--coolgray-90);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 22.0px;
  }
  
  .frame .paragraph {
    position: relative;
    align-self: stretch;
    font-family: var(--body-m-font-family);
    font-weight: var(--body-m-font-weight);
    color: var(--coolgray-90);
    font-size: var(--body-m-font-size);
    letter-spacing: var(--body-m-letter-spacing);
    line-height: var(--body-m-line-height);
    font-style: var(--body-m-font-style);
  }
  
  .frame .buttons-group {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 8px 16px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .text-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    margin-top: -2.00px;
    margin-bottom: -2.00px;
  }
  
  .frame .button-text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--button-l-font-family);
    font-weight: var(--button-l-font-weight);
    color: var(--primary-60);
    font-size: var(--button-l-font-size);
    letter-spacing: var(--button-l-letter-spacing);
    line-height: var(--button-l-line-height);
    white-space: nowrap;
    font-style: var(--button-l-font-style);
  }
  
  .frame .icon-jam-icons {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -4.00px;
    margin-bottom: -4.00px;
  }
  
  .frame .content-box-2 {
    display: flex;
    flex-direction: column;
    width: 308px;
    align-items: flex-start;
    gap: 11px;
    position: relative;
    align-self: stretch;
    background-color: var(--defaultwhite);
    border-radius: 14px;
    border: 1px solid;
    border-color: var(--coolgray-20);
  }
  
  .frame .placeholder-picture-2 {
    position: relative;
    width: 308px;
    height: 220px;
    background-color: #3e234b;
    border-radius: 14px 14px 0px 0px;
  }
  
  .frame .content-2 {
    width: 308px;
    align-items: flex-start;
    gap: 16px;
    padding: 24px 16px 16px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .frame .text-wrapper {
    position: relative;
    align-self: stretch;
    font-family: "Nunito-Regular", Helvetica;
    font-weight: 400;
    color: var(--coolgray-90);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
  }
  
  .frame .buttons-group-2 {
    align-items: flex-start;
    display: flex;
    width: 308px;
    height: 80px;
    gap: 16px;
    padding: 16px;
    position: relative;
  }
  
  .frame .buttons-group-3 {
    align-items: flex-end;
    display: flex;
    width: 308px;
    height: 80px;
    gap: 16px;
    padding: 16px;
    position: relative;
  }
  
  .frame .element {
    position: absolute;
    width: 260px;
    height: 193px;
    top: 228px;
    left: 97px;
    object-fit: cover;
  }
  
  .frame .img {
    position: absolute;
    width: 272px;
    height: 181px;
    top: 242px;
    left: 418px;
  }
  
  .frame .element-2 {
    position: absolute;
    width: 314px;
    height: 233px;
    top: 226px;
    left: 1059px;
    object-fit: cover;
  }
  
  .frame .element-3 {
    position: absolute;
    width: 288px;
    height: 214px;
    top: 226px;
    left: 739px;
    object-fit: cover;
  }
  