* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.consultation-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.consultation-card {
  position: relative;
  height: 350px;
  width: 48%;
  min-width: 300px;
  text-align: left;
}

.purple-box {
  width: 100%;
  height: 175px;
  background-color: #8a2be2;
  border-radius: 5px 5px 0 0;
}

.consultation-card .card-body {
  padding-top: 20px;
}

.consultation-card .card-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.consultation-card .card-text {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.consultation-button {
  background: none;
  border: none;
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover effect */
.consultation-button:hover {
  background: none;
  color: #0056b3;
}

.card {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.gambar {
  background-color: #8a2be2;
  border-radius: 25px;
  width: 250px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gambar .card-img-top {
  width: 70%;
  height: auto;
  display: block;
  border-radius: 0;
}

.gambar-lock {
  background-color: #f8f9d4;
  border-radius: 25px;
  width: 250px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gambar-lock .card-img-top {
  width: 20%;
  height: auto;
  display: block;
  border-radius: 0;
}
