:root {
    --primary-90: rgba(0, 29, 108, 1);
    --primary-70: rgba(46, 26, 56, 1);
    --primary-50: rgba(62, 35, 75, 1);
    --primary-30: rgba(113, 86, 126, 1);
    --primary-10: rgba(148, 128, 158, 1);
    --secondary-90: rgba(153, 70, 23, 1);
    --secondary-70: rgba(204, 93, 30, 1);
    --secondary-50: rgba(255, 116, 38, 1);
    --secondary-30: rgba(255, 144, 81, 1);
    --secondary-10: rgba(253, 248, 238, 1);
    --default-90: rgba(38, 38, 38, 1);
    --default-70: rgba(105, 112, 119, 1);
    --default-50: rgba(217, 217, 217, 1);
    --default-30: rgba(221, 221, 221, 1);
    --default-10: rgba(246, 246, 246, 1);
    --coolgray-90: rgba(33, 39, 42, 1);
    --primary-60: rgba(15, 98, 254, 1);
    --defaultwhite: rgba(255, 255, 255, 1);
    --coolgray-20: rgba(221, 225, 230, 1);
    --h1-bold-font-family: "Nunito", Helvetica;
    --h1-bold-font-weight: 700;
    --h1-bold-font-size: 40px;
    --h1-bold-letter-spacing: 0px;
    --h1-bold-line-height: normal;
    --h1-bold-font-style: normal;
    --h1-semibold-font-family: "Nunito", Helvetica;
    --h1-semibold-font-weight: 600;
    --h1-semibold-font-size: 30px;
    --h1-semibold-letter-spacing: 0px;
    --h1-semibold-line-height: normal;
    --h1-semibold-font-style: normal;
    --h1-regular-font-family: "Nunito", Helvetica;
    --h1-regular-font-weight: 400;
    --h1-regular-font-size: 28px;
    --h1-regular-letter-spacing: 0px;
    --h1-regular-line-height: 120.00000476837158%;
    --h1-regular-font-style: normal;
    --h2-bold-font-family: "Nunito", Helvetica;
    --h2-bold-font-weight: 700;
    --h2-bold-font-size: 24px;
    --h2-bold-letter-spacing: 0px;
    --h2-bold-line-height: normal;
    --h2-bold-font-style: normal;
    --h2-semibold-font-family: "Nunito", Helvetica;
    --h2-semibold-font-weight: 600;
    --h2-semibold-font-size: 24px;
    --h2-semibold-letter-spacing: 0px;
    --h2-semibold-line-height: normal;
    --h2-semibold-font-style: normal;
    --h2-regular-font-family: "Nunito", Helvetica;
    --h2-regular-font-weight: 400;
    --h2-regular-font-size: 24px;
    --h2-regular-letter-spacing: 0px;
    --h2-regular-line-height: 120.00000476837158%;
    --h2-regular-font-style: normal;
    --medium-bold-font-family: "Nunito", Helvetica;
    --medium-bold-font-weight: 700;
    --medium-bold-font-size: 20px;
    --medium-bold-letter-spacing: 0px;
    --medium-bold-line-height: normal;
    --medium-bold-font-style: normal;
    --medium-semibold-font-family: "Nunito", Helvetica;
    --medium-semibold-font-weight: 600;
    --medium-semibold-font-size: 20px;
    --medium-semibold-letter-spacing: 0px;
    --medium-semibold-line-height: normal;
    --medium-semibold-font-style: normal;
    --medium-regular-font-family: "Nunito", Helvetica;
    --medium-regular-font-weight: 400;
    --medium-regular-font-size: 20px;
    --medium-regular-letter-spacing: 0px;
    --medium-regular-line-height: 110.00000238418579%;
    --medium-regular-font-style: normal;
    --base-bold-font-family: "Nunito", Helvetica;
    --base-bold-font-weight: 700;
    --base-bold-font-size: 16px;
    --base-bold-letter-spacing: 0px;
    --base-bold-line-height: normal;
    --base-bold-font-style: normal;
    --base-semibold-font-family: "Nunito", Helvetica;
    --base-semibold-font-weight: 600;
    --base-semibold-font-size: 16px;
    --base-semibold-letter-spacing: 0px;
    --base-semibold-line-height: normal;
    --base-semibold-font-style: normal;
    --base-regular-font-family: "Nunito", Helvetica;
    --base-regular-font-weight: 400;
    --base-regular-font-size: 14px;
    --base-regular-letter-spacing: 0px;
    --base-regular-line-height: 120.00000476837158%;
    --base-regular-font-style: normal;
    --small-bold-font-family: "Nunito", Helvetica;
    --small-bold-font-weight: 700;
    --small-bold-font-size: 12px;
    --small-bold-letter-spacing: 0px;
    --small-bold-line-height: normal;
    --small-bold-font-style: normal;
    --small-semibold-font-family: "Nunito", Helvetica;
    --small-semibold-font-weight: 600;
    --small-semibold-font-size: 12px;
    --small-semibold-letter-spacing: 0px;
    --small-semibold-line-height: normal;
    --small-semibold-font-style: normal;
    --small-regular-font-family: "Nunito", Helvetica;
    --small-regular-font-weight: 400;
    --small-regular-font-size: 12px;
    --small-regular-letter-spacing: 0px;
    --small-regular-line-height: 120.00000476837158%;
    --small-regular-font-style: normal;
    --XS-bold-font-family: "Nunito", Helvetica;
    --XS-bold-font-weight: 700;
    --XS-bold-font-size: 10px;
    --XS-bold-letter-spacing: 0px;
    --XS-bold-line-height: normal;
    --XS-bold-font-style: normal;
    --XS-semibold-font-family: "Nunito", Helvetica;
    --XS-semibold-font-weight: 600;
    --XS-semibold-font-size: 10px;
    --XS-semibold-letter-spacing: 0px;
    --XS-semibold-line-height: normal;
    --XS-semibold-font-style: normal;
    --XS-regular-font-family: "Nunito", Helvetica;
    --XS-regular-font-weight: 400;
    --XS-regular-font-size: 10px;
    --XS-regular-letter-spacing: 0px;
    --XS-regular-line-height: 120.00000476837158%;
    --XS-regular-font-style: normal;
    --body-m-font-family: "Roboto", Helvetica;
    --body-m-font-weight: 400;
    --body-m-font-size: 16px;
    --body-m-letter-spacing: 0px;
    --body-m-line-height: 139.9999976158142%;
    --body-m-font-style: normal;
    --button-l-font-family: "Roboto", Helvetica;
    --button-l-font-weight: 500;
    --button-l-font-size: 20px;
    --button-l-letter-spacing: 0.5px;
    --button-l-line-height: 100%;
    --button-l-font-style: normal;
    --1: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
    --variable-collection-primary-90: rgba(46, 26, 56, 1);
  }
  